**
!icon.png
!LICENSE
!out/main.js
!package.json
!README.md
!configuration-schema.json
!language-configuration.json
!usfm.tmLanguage.json
!target/release/usfm-language-server
!target/release/usfm-language-server.exe
!target/release/usfm
!target/release/usfm.exe
